[Unit]
Description=Shadow Daemon Web Application Firewall
After=network.target
After=mysql.service
After=postgresql.service

[Service]
ExecStart=/usr/bin/shadowd -c /etc/shadowd/shadowd.ini -U shadowd -G shadowd
Restart=always

[Install]
WantedBy=multi-user.target
